body {
    background-color: #D3D3D3;

}

.masthead {
    background-size:cover;
    min-height:90vh;
    position:relative;
    color:white;
}

.color-overlay {
    position:absolute;
    background-color:rgba(0,0,0,.4);
    height:100%;
    width: 100%;
}

.base-h1 {
    font-size: 3rem
}

.singleCol {
    max-width:750px;
    margin:0 auto;
}
.darkBG {
    background-color: #D3D3D3;
    color:gray
}
@media (max-width: 768px) {
    min-height:50vh;
}