<div class="masthead"

       style="background-image:url({{ url_for('static',filename='images/towers.jpeg') }}); background-repeat:no-repeat;">

  <div class="color-overlay d-flex justify-content-center align-items-center">
    <div class="singleCol container text-center"> <h1 class="base-h1">Landing Page</h1>
    <p class="lead">
      <strong>
        Get Connected with our new Social Networking Web App
      </strong>
    </p>
      <a href="#" class="btn btn-outline-light"><strong>Learn More</strong></a>
    </div>

  </div>
  </div>