{% extends 'base/base.html' %}

{% block content %}
<div class="masthead"

       style="background-image:url({{ url_for('static',filename='images/background-image.jpg') }}); background-repeat:no-repeat;">

  <div class="color-overlay d-flex justify-content-center align-items-center">
    <div class="singleCol container text-center"> <h1 class="base-h1">Landing Page</h1>
    <p class="lead">
      <strong>
        Get Connected with our new Social Networking Web App
      </strong>
    </p>
      <a href="#" class="btn btn-outline-light"><strong>Learn More</strong></a>
    </div>

  </div>
  </div>

  <main>
    <div class="darkBG py-5">
      <div class="singleCol container">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque debitis deleniti doloribus dolorum eaque esse eveniet ex fugiat ipsum itaque magni nisi nostrum, quae quibusdam quos sint vero.
        </p>
      </div>
    </div>
  </main>

{% endblock %}