{% extends 'base/base.html' %}

{% block content %}
 <form action="" method="POST" novalidate autocomplete="off">
    {{ form.hidden_tag() }}
  <div class="mb-3">
    {% if form.email.errors %}
        {% for error in form.email.errors %}
        <p class="alert alert-info list-unstyled" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    {% endif %}
    {{ form.email.label }} <br>
    {{ form.email() }}
  </div>
   <div class="mb-3">
  {% if form.password.errors %}
        {% for error in form.password.errors %}
        <p class="alert alert-info list-unstyled" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    {% endif %}
    {{ form.password.label }} <br>
    {{ form.password() }}
    </div>

    {{ form.submit(class="btn btn-primary") }}

    </form>
{% endblock %}