{% extends 'base/base.html' %}

{% block content %}

<form action="" method="POST" novalidate autocomplete="off" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {% if form.email.errors %}
    <ul class="errors">
    {% for error in form.email.errors %}
        <li class="alert alert-info" role="alert">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
        {{ form.email.label }} <br>
        {{ form.email() }}
    </div>
    <div class="mb-3">
        {% if form.username.errors %}
    <ul class="errors">
    {% for error in form.username.errors %}
        <li class="alert alert-info" role="alert">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
        {{ form.username.label }} <br>
        {{ form.username() }}
    </div>
{% if current_user.profilepic %}
     <div>
            <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/'+current_user.profilepic) }}" alt="image for post">
        </div>
{% endif %}
        <br>
    <div class="mb-3">
        {% if form.profilepic.errors %}
    <ul class="errors">
    {% for error in form.profilepic.errors %}
        <li class="alert alert-info" role="alert">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
        {{ form.profilepic.label }} <br>
        {{ form.profilepic(class="form-control-file") }}
    </div>
    <div class="mb-3">
        {% if form.aboutme.errors %}
    <ul class="errors">
    {% for error in aboutme.errors %}
        <li class="alert alert-info" role="alert">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
        {{ form.aboutme.label }} <br>
        {{ form.aboutme() }}
    </div>
{{ form.submit(class="btn btn-info") }}
</form>

{% endblock %}